.navbar{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 2rem;
    z-index: 100;
  
}

.nav-logo{
cursor: pointer;

}
.nav-items{
display: flex;

}
.nav-item{
    margin: 0 1rem;
    font-weight: 600;

}
.nav-item:hover{
color:#ff4c30;
}
.nav-item.active{
    color:#ff4c30;
}
.signIn{
    font-size: 1.1rem;
    margin: 0 1.5rem;
    font-weight: 600;
}
.register{
    background-color: #ef4444;
    padding: 0.7rem;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: 600;
    width: 8rem;
    box-shadow: 0 0 10px #ef4444;
    }
    .nav-menu{
        display: none;
    }
    .mobile-nav{
        display: none;
    }
@media screen and (max-width:500px) {
    .nav-menu{
        display: block;
    }
 .navbar{
    /* display: none; */
    justify-content: space-between;
    
 }   
 .nav-items{
    display: none;
 }
 .nav-btn{
    display: none;
 }
 .mobile-nav {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 300;
    transform: translate(100%,0%);
    transition: all .5s linear;
  }
  .mobile-nav--open{
    transform: translate(0,0%);
  
  }
}